/* body {
  background-color: #0F0F11;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
} */


/* Estilos para o corpo da página */
body {
  background-color: #0F0F11;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered-image {
  margin: 0px;
}

/* Tamanhos responsivos para a logo */
.logo {
  max-width: 150px; /* Tamanho padrão para desktop */
  height: auto;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .logo {
      max-width: 80px; /* Tamanho reduzido para telas menores */
  }
}

gradio-app {
  margin: 10px; /* Adicionando margem para não colar nas bordas */
  width: 90%; /* Ajusta largura para se adequar melhor à tela */
}
